body {
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
    text-align: center;
}



.header {
    background-image: url(../images/donation7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;
    opacity: 0.8;
}

.header-top {
    padding-top: 10%;
    color: #ffffff;

}

.header-top h1 {
    font-size: 50px;
    font-weight: 700;
}

.header-top p {
    padding: 0 10px 20px 0;
    width: 750px;
    margin: 0 auto;
}

.donate-now {
    text-decoration: none;
    background-color: #FF5959;
    padding: 15px 40px;
    color: #ffffff;
    border-radius: 5px;
}

.top {
    margin: 150px 0;
}

.top h2 {
    font-size: 40px;
    color: #121212;
    font-weight: 700;
}

.top p {
    width: 600px;
    margin: 0 auto;
    color: #7b7b7b;
}



.amount {
    display: flex;
    width: 700px;
    margin: 0 auto;
}

.amount-specific {
    color: #787878;
    background-color: #FAFAFA;
    font-size: 20px;
    padding: 20px;
    margin: 50px 10px;
    width: 100px;
    border-radius: 5px;
}

.specific-two {
    background-color: #FFEEEE;
    border: 3px solid #FF5959;
    border-radius: 5px;
    color: #FF5959;
}

.amount-specific:hover {
    background-color: #FFEEEE;
    border: 3px solid #FF5959;
    border-radius: 5px;
    color: #FF5959;
}

.donate-amount {
    width: 700px;
    text-align: center;
    padding: 20px;
    font-size: 20px;
    color: #DADADA;
    border: none;
    border-bottom: 2px solid #DADADA;
    margin-bottom: 30px;
}

.donation {
    display: flex;
    width: 800px;
    margin: 0 10%;
}

.donation-item {
    margin: 40px 30px;
    text-align: left;
    padding: 70px 40px;
    border-radius: 5px;
    width: 33%;
}

.donation-item p {
    color: #818282;
    width: 250px;
}

.food {
    background-color: #EDF5F6;
}

.shelter {
    background-color: #FFEEEE;
}

.education {
    background-color: #FFF4D6;
}

.form {
    margin: 50px auto;
    width: 800px;
    background-color: #FFF4D6;
    padding: 50px;
}

.form input,
.form textarea {
    display: block;
    width: 600px;
    padding: 15px;
    margin: 20px auto;
    border: none;
    background-color: #D9D9D9;
    color: #AA9F9F;
    border-radius: 5px;
}

.form button {
    padding: 15px 40px;
    border: none;
    cursor: pointer;
}

.footer {
    height: 150px;
    background-color: #0B0D17;
    color: #82A5C0;
    padding: 20px;
}

.voluntter-collection {
    background-color: #F5F5F5;
    height: 300px;

    padding: 100px 0px 0px 0px;
}

.join-now {
    width: 200px;
    text-decoration: none;
    color: #111111;
    border: 2px solid #111111;
    padding: 20px 90px;
    font-size: 20px;
}